/* import bootstrap */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

*{
	margin:0;
	padding:0;
	outline:0;
	border:0;
}
body {
	overflow-x: hidden;
	font-family: Calibri;
	font-size: 12pt;
	color: #000;
}
.wrapper {
	max-width: 1200px;
	margin: 0 50px;
}
.btn_utama {
	margin: 40px 0;
}
.lingkar {
	position: absolute;
	border: 2px solid #696e76;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	text-align: center;
}
.lingkar:hover {
	background-color: #7f7f7f;
}
.lingkar img{
	margin-top: 7px;
	width: 70%;
}
.header {
	margin: 50px 300px;
	width: 300px;
}
.header1 {
	margin: 20px 50px;
	width: 200px;
}
.menu {
	width: 200px;
	height: 30px;
	display: block;
	background-color: #7f7f7f;
	text-align: center;
	margin: 10px 0;
	padding-top: 5px;
}
.menu:hover {
	background-color: #262626;
}
.menu a {
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
}
.kotak1 {
	position: absolute;
	width: 900px;
	height: 600px;
	background-color: #017548;
	border-radius: 40px;
	border: 7px solid #dbb67a;
	top: 40px;
	left: 330px;
}

.kotak2 {
	position: absolute;
	width: 800px;
	height: 400px;
	background-color: #FFF;
	
	top: 130px;
	margin-left: 330px;
	z-index: 2;
}
.kecil {
	width: 150px;
	height: 50px;
	background-color: #888;
	margin: 10px 0 0 0px;
}
.ikon {
	width: 20px;
	margin: 8px 13px;
}
.menu2 {
	position: absolute;
	width: 150px;
	height: 30px;
	display: block;
	background-color: #92d050;
	text-align: center;
	margin: 120px 0 0 500px;
	padding-top: 5px;
}
.menu2:hover {
	background-color: yellow;
}
.menu2 a {
	text-decoration: none;
	color: #000;
}